#sidebar1 {

	.sidebar-logo {
		a {
			display: block;
			width: 100%;
			height: 230px;
			overflow: hidden;
			white-space: nowrap;
			text-indent: 200%;
			background-image: url(../img/noahsnotes-logo.png);
			background-image: url(../img/noahsnotes-logo.svg), none;
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-size: contain;

			@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
				height: 140px;
			}

			@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
				height: 190px;
			}

			@media (min-width: $screen-lg-min) {
				height: 230px;
			}
		}
	}

	.nnesin {
		.avatar-thumbnail {
			max-width: 25%;
			margin-bottom: 3%;

			&.pull-left {
				margin-right: 5%;
			}

			&.pull-right {
				margin-left: 5%;
			}
		}
	}
}

.navbar-brand {
	background: url(../img/noahsnotes-logo_sm.svg), none;
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-size: contain;
	padding: 0 0 0 75px;
	margin: 10px;
	height: 30px;
	line-height: 30px;
}

.alignleft, .alignright {
    margin: 1em;
}

	.alignleft {
		margin-left: 0;
		float: left;
	}

	.alignright {
		margin-right: 0;
		float: right;
	}

.wp-caption {
  padding: 0.5em;
  border: 1px solid #e3e3e3;
  background: #F5F5F5;
  font-size: 0.8em;
  text-align: center;
  font-style: italic;
}
