// Core variables and mixins
@import "variables";
@import "mixins";

.container {
	@include container-fixed();
	width: $container-md;
}

@include make-grid-columns-float(md);
@include make-grid($grid-columns, md, width);
@include make-grid($grid-columns, md, pull);
@include make-grid($grid-columns, md, push);
@include make-grid($grid-columns, md, offset);

.navbar-header {
  @include clearfix();
  float: left;
}

.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }

    // Undo the collapse side padding for navbars with containers to ensure
    // alignment of right-aligned contents.
    .navbar-fixed-top &,
    .navbar-static-top &,
    .navbar-fixed-bottom & {
      padding-left: 0;
      padding-right: 0;
    }
}

.container,
.container-fluid {
  > .navbar-header,
  > .navbar-collapse {
      margin-right: 0;
      margin-left:  0;
  }
}

.navbar-brand {
	.navbar > .container &,
	.navbar > .container-fluid & {
	  margin-left: -$navbar-padding-horizontal;
	}
}

.navbar-toggle {
	display: none;
}

.navbar-nav {
	float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
      }
    }

    &.navbar-right:last-child {
      margin-right: -$navbar-padding-horizontal;
    }
}

.navbar-form {
	width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    @include box-shadow(none);

    // Outdent the form if last child to line up with content down the page
    &.navbar-right:last-child {
      margin-right: -$navbar-padding-horizontal;
    }
}

.navbar-text {
	float: left;
    margin-left: $navbar-padding-horizontal;
    margin-right: $navbar-padding-horizontal;

    // Outdent the form if last child to line up with content down the page
    &.navbar-right:last-child {
      margin-right: 0;
    }
}