.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 970px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}

.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
  float: left;
}

.col-sm-1 {
  width: 8.33333%;
}

.col-sm-2 {
  width: 16.66667%;
}

.col-sm-3 {
  width: 25%;
}

.col-sm-4 {
  width: 33.33333%;
}

.col-sm-5 {
  width: 41.66667%;
}

.col-sm-6 {
  width: 50%;
}

.col-sm-7 {
  width: 58.33333%;
}

.col-sm-8 {
  width: 66.66667%;
}

.col-sm-9 {
  width: 75%;
}

.col-sm-10 {
  width: 83.33333%;
}

.col-sm-11 {
  width: 91.66667%;
}

.col-sm-12 {
  width: 100%;
}

.col-sm-pull-0 {
  right: 0%;
}

.col-sm-pull-1 {
  right: 8.33333%;
}

.col-sm-pull-2 {
  right: 16.66667%;
}

.col-sm-pull-3 {
  right: 25%;
}

.col-sm-pull-4 {
  right: 33.33333%;
}

.col-sm-pull-5 {
  right: 41.66667%;
}

.col-sm-pull-6 {
  right: 50%;
}

.col-sm-pull-7 {
  right: 58.33333%;
}

.col-sm-pull-8 {
  right: 66.66667%;
}

.col-sm-pull-9 {
  right: 75%;
}

.col-sm-pull-10 {
  right: 83.33333%;
}

.col-sm-pull-11 {
  right: 91.66667%;
}

.col-sm-pull-12 {
  right: 100%;
}

.col-sm-push-0 {
  left: 0%;
}

.col-sm-push-1 {
  left: 8.33333%;
}

.col-sm-push-2 {
  left: 16.66667%;
}

.col-sm-push-3 {
  left: 25%;
}

.col-sm-push-4 {
  left: 33.33333%;
}

.col-sm-push-5 {
  left: 41.66667%;
}

.col-sm-push-6 {
  left: 50%;
}

.col-sm-push-7 {
  left: 58.33333%;
}

.col-sm-push-8 {
  left: 66.66667%;
}

.col-sm-push-9 {
  left: 75%;
}

.col-sm-push-10 {
  left: 83.33333%;
}

.col-sm-push-11 {
  left: 91.66667%;
}

.col-sm-push-12 {
  left: 100%;
}

.col-sm-offset-0 {
  margin-left: 0%;
}

.col-sm-offset-1 {
  margin-left: 8.33333%;
}

.col-sm-offset-2 {
  margin-left: 16.66667%;
}

.col-sm-offset-3 {
  margin-left: 25%;
}

.col-sm-offset-4 {
  margin-left: 33.33333%;
}

.col-sm-offset-5 {
  margin-left: 41.66667%;
}

.col-sm-offset-6 {
  margin-left: 50%;
}

.col-sm-offset-7 {
  margin-left: 58.33333%;
}

.col-sm-offset-8 {
  margin-left: 66.66667%;
}

.col-sm-offset-9 {
  margin-left: 75%;
}

.col-sm-offset-10 {
  margin-left: 83.33333%;
}

.col-sm-offset-11 {
  margin-left: 91.66667%;
}

.col-sm-offset-12 {
  margin-left: 100%;
}

.col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1 {
  float: left;
}

.col-md-1 {
  width: 8.33333%;
}

.col-md-2 {
  width: 16.66667%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4 {
  width: 33.33333%;
}

.col-md-5 {
  width: 41.66667%;
}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 58.33333%;
}

.col-md-8 {
  width: 66.66667%;
}

.col-md-9 {
  width: 75%;
}

.col-md-10 {
  width: 83.33333%;
}

.col-md-11 {
  width: 91.66667%;
}

.col-md-12 {
  width: 100%;
}

.col-md-pull-0 {
  right: 0%;
}

.col-md-pull-1 {
  right: 8.33333%;
}

.col-md-pull-2 {
  right: 16.66667%;
}

.col-md-pull-3 {
  right: 25%;
}

.col-md-pull-4 {
  right: 33.33333%;
}

.col-md-pull-5 {
  right: 41.66667%;
}

.col-md-pull-6 {
  right: 50%;
}

.col-md-pull-7 {
  right: 58.33333%;
}

.col-md-pull-8 {
  right: 66.66667%;
}

.col-md-pull-9 {
  right: 75%;
}

.col-md-pull-10 {
  right: 83.33333%;
}

.col-md-pull-11 {
  right: 91.66667%;
}

.col-md-pull-12 {
  right: 100%;
}

.col-md-push-0 {
  left: 0%;
}

.col-md-push-1 {
  left: 8.33333%;
}

.col-md-push-2 {
  left: 16.66667%;
}

.col-md-push-3 {
  left: 25%;
}

.col-md-push-4 {
  left: 33.33333%;
}

.col-md-push-5 {
  left: 41.66667%;
}

.col-md-push-6 {
  left: 50%;
}

.col-md-push-7 {
  left: 58.33333%;
}

.col-md-push-8 {
  left: 66.66667%;
}

.col-md-push-9 {
  left: 75%;
}

.col-md-push-10 {
  left: 83.33333%;
}

.col-md-push-11 {
  left: 91.66667%;
}

.col-md-push-12 {
  left: 100%;
}

.col-md-offset-0 {
  margin-left: 0%;
}

.col-md-offset-1 {
  margin-left: 8.33333%;
}

.col-md-offset-2 {
  margin-left: 16.66667%;
}

.col-md-offset-3 {
  margin-left: 25%;
}

.col-md-offset-4 {
  margin-left: 33.33333%;
}

.col-md-offset-5 {
  margin-left: 41.66667%;
}

.col-md-offset-6 {
  margin-left: 50%;
}

.col-md-offset-7 {
  margin-left: 58.33333%;
}

.col-md-offset-8 {
  margin-left: 66.66667%;
}

.col-md-offset-9 {
  margin-left: 75%;
}

.col-md-offset-10 {
  margin-left: 83.33333%;
}

.col-md-offset-11 {
  margin-left: 91.66667%;
}

.col-md-offset-12 {
  margin-left: 100%;
}

#sidebar1 .sidebar-logo a {
  background-image: url(../img/noahsnotes-logo_lte-ie8.png);
}

.navbar-header {
  float: left;
}
.navbar-header:before, .navbar-header:after {
  content: " ";
  display: table;
}
.navbar-header:after {
  clear: both;
}

.navbar-collapse {
  width: auto;
  border-top: 0;
  box-shadow: none;
}
.navbar-collapse.collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-collapse.in {
  overflow-y: visible;
}
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
  padding-left: 0;
  padding-right: 0;
}

.container > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-header,
.container-fluid > .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: -15px;
}

.navbar-toggle {
  display: none;
}

.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar-nav.navbar-right:last-child {
  margin-right: -15px;
}

.navbar-form {
  width: auto;
  border: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.navbar-form.navbar-right:last-child {
  margin-right: -15px;
}

.navbar-text {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar-text.navbar-right:last-child {
  margin-right: 0;
}
