#maincontent {
  background: #fff;
  margin-top: 56px;
  position: relative;
  z-index: 1;
}
#maincontent:before {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  height: 56px;
  top: -56px;
  background: url(../img/content-swoosh.png) 50% 0 no-repeat;
}
.backgroundsize #maincontent:before {
  background: url(../img/content-swoosh_2x.png) 50% 0 no-repeat;
  background-size: cover;
}
@media (min-width: 1200px) {
  #maincontent {
    margin-top: 67px;
  }
  #maincontent:before {
    height: 67px;
    top: -67px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #maincontent {
    margin-top: 44px;
  }
  #maincontent:before {
    height: 44px;
    top: -44px;
  }
}

#main {
  top: -35px;
}
.home #main {
  top: 0;
}

#breadcrumbs {
  font-family: "Roboto Slab", serif;
  color: #999999;
  font-weight: 300;
  font-size: 0.9em;
}
#breadcrumbs .glyphicon {
  font-size: 0.8em;
}

.navbar .navbar-brand {
  padding-left: 85px;
  background: url(../img/logo.png) 0 50% no-repeat;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  text-align: center;
  line-height: 0.9em;
  max-width: 13em;
  color: #be1e2d;
  max-height: 50px;
  padding-top: 0.5em;
  text-shadow: 0 1px 0 #FFF;
}
.navbar .navbar-brand:hover {
  color: #2f3485;
}
.backgroundsize .navbar .navbar-brand {
  background-image: url(../img/logo_2x.png);
  background-size: contain;
}

.navbar-default .navbar-nav > li > a {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
}

#front-page-slides {
  padding-bottom: 2em;
  margin-bottom: 4em;
  border-bottom: 1px solid #c7c9eb;
}
#front-page-slides .item {
  margin-bottom: 2em;
}
#front-page-slides .wp-post-image {
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.carousel-control, .carousel-control.left, .carousel-control.right {
  background: none;
}
.carousel-control:hover {
  color: #2f3485;
}
